h1, h2{
font-family: sans-serif;
color: #62b6cb;
}

h1 {
margin-top: 60px;
}

.navBar {
display: flex;
align-items: flex-end;
text-transform: uppercase;
font-family: Helvetica;
background-color: #fff;
}

.navBar {
position: fixed;
top: 10px;
right: 5px;
font-size: 20px;
padding: 10px;
}

.navBar a {
padding: 5px;
}

a {
text-decoration: none;
}

.aboutMeNav {
color: #62b6cb;
}

.aboutMeNav:hover {
color: #ffcb69;
}

.projectsNav {
color: #62b6cb;
}

.projectsNav:hover {
color: #ffcb69;
}

p {
width: 800px;
}

table {
  border-collapse: separate;
  border-spacing: 20px;
}

